---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hello world">
    <h1 class="text-center text-9xl text-stone-200 font-bold h-screen w-screen flex items-center justify-center">
        Hello, world!
    </h1>
</Layout>
